body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(rgb(186, 215, 251), rgb(47, 152, 251));
  background-repeat: no-repeat;
  }

h4 {
  color : white;
}

a {
  color: #00B7FF;
}

.bg-image-homepage{
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  margin-top: 100px;
  }

.home {
  padding: 50px; 
  min-height: 85vh;
}

html {
  height: 100vh; 
}

.bg-white {
background-color: white; 
}


.bg-light {
  background-color: white; 
}

.text-white h4 text-left {
  padding: 12px; 
  margin-top: 12px;
  margin: 50px;
}